/* navbar */
.navbar .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}


.banner .carousel-item{
    height: 100vh;
 }

 .banner .capa{
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translate(-50%, -50%); 


 }